* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

/* .text-primary, .border-primary {
    color: #4C84C3 !important;
} */


::placeholder, .form-control::placeholder  {
    color: #AAB0B2;
}

.navbar-nav .nav-item .nav-link:hover{
    color: #4C84C3 !important;
}


#home {
    background-image: url(../img/bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* width: 1111px; */
    height: 800px;
}

#speciality button:hover {
    color: #fff;
}

#App .media {
    background: url(../img/Group3.png) no-repeat;
    background-size: cover;
    min-height: 70vh;
}

#App .container-fluid {
    padding: 5% 10%;
}

#App .app2 {
    min-height: 70vh; 
}

#review .text {
    width: 40%;
}

#review .text p {
    font-weight: 600;
}

#footer .footer-2 .link {
    display: block;
    color: #ccc !important;
}

#footer .footer-3, #footer .footer-1 {
    background: #283779;
}

#footer .footer-2 {
    background: rgba(27, 113, 161, 0.8);
}

#footer .footer-1 p {
    width: 70%;
}

#footer .footer-1 input {
    background-color: #283779;
}





/* mobile view */
@media (max-width: 426px) {

    .home-button{
        font-size: 12px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .home-text{
        left: 60%;
        margin-left: 100px;
    }


    #Swasthu .row h2 {
        font-size: 20px;
        margin-left: 50px;
    }

    #Swasthu .row p {
        width: 45%;
        text-align: center;
    }

    #Swasthu .container-fluid, imag {
        display: none;
    }

    #App .media {
        background: linear-gradient(to right, rgba(0,0,0,0.3), rgba(0,0,0,0.3));
    }

    .text-part{
        width: 85%;
        margin: auto !important;
    }

    #footer .footer-1, #footer .footer-2, #footer .footer-3 {
        width: 100%;
        margin: auto;
    }

    #footer .footer-1 input {
        width: 500px;
    }

}